@model IEnumerable<rejestr_osob_zaginionych.Models.PersonModel>

@{
  ViewData["Title"] = "Forbidden";
}

<h1 class="text-danger text-bold">Forbidden</h1>

<p>You are not authorized to access this page.</p>